node_modules
.next
out
build
.env

.env.production
.env.development
.env.test
.env.sample
.env.*.local

# Project specific
bot/logs
cookies.txt
.DS_Store
.idea
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.local
.env.*.local
